nav#breadcrumbs {
    margin-top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

section {
    margin-bottom: 60px;
}

.breadcrumb {
    color: black;
}

.breadcrumb:before {
    color: black;
}

.breadcrumb:last-child {
    color: #EE6E73;
}

.carousel {
    height: 220px;
    perspective: 300px;
    transform: translate(-27px, -5px);

}

.carousel .carousel-item {
    width: 350px;
    height: 200px;
}

.carousel .carousel-item h2 {
    position: absolute;
    margin: 5px;
    font-size: 24px;
    bottom: 0;
}

.carousel .carousel-item>img {
    width: 350px;
    height: 200px;
}

.progress {
    margin: 1.1rem 0 1rem 0
}


/* stripe css */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

h5.accent-1{
    margin: 0;
    margin-top: 9px;
}
.accent-1{
    padding: 5px;
    border-radius: 2px;
}

/*end stripe css*/