{% extends 'user/base.html'%}
{%block title%}profile{%endblock%}

{% block body%}
<div class="container">
    <div class="section">
       <div class="card-panel grey lighten-5 z-depth-1">
               <form method="post" action="/profile/delete/{{ user.id }}">
                   {% csrf_token %}
                   <h3 class="account-heading">{{ user.username }}</h3>
                   <h4>You will delete your account, Are you sure?</h4>
                   <!--<h5> Enter Your Password </h5>-->
                   <!--<input type="password" name="password" value=""/>-->
                   <input class="btn red darken-1" type="submit" value="Delete"/>
               </form>
                <a href="/profile"><button class="btn grey lighten-1">Cancel</button></a>
        </div>
    </div>
</div>
{%endblock%}